
<p>
Welcome to the Banking Application.  Please choose from one of the options linked below.

Note: the following open source projects were used in this project:
  <ul>
  <li><%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org/ruby-on-rails-tutorial-book" %></li>
   <li><%= link_to "GitHub", "http://github.com" %></li>
   <li><%= link_to "Heroku", "http://heroku.com" %></li>
   <li><%= link_to "Blueprint CSS", "http://www.blueprintcss.org/" %></li>
  </ul>

</p>
