<h1>Transfer from account <%= @account1.id %></h1>
<h3>Current amount <%= number_to_currency(@account1.amount, :unit => "$") %></h3>

<%= render 'transfer_form' %>
<br><br>
<%= link_to "Cancel", list_path %>